@model EM.Models.EmployeeBankAccountMetadata

<div class="row">
    <div class="col-3">
        <div class="form-floating">
            @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.BankName, new { @for = "BankName" })
        </div>
    </div>
    <div class="col-3">
        <div class="form-floating">
            @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BranchName, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.BranchName, new { @for = "BranchName" })
        </div>
    </div>
    <div class="col-3">
        <div class="form-floating">
            @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.AccountNumber, new { @for = "AccountNumber" })
        </div>
    </div>
    <div class="col-3">
        <div class="form-floating">
            @Html.EditorFor(model => model.IFSCCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IFSCCode, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.IFSCCode, new { @for = "IFSCCode" })
        </div>
    </div>
</div>
<hr />
<br /><br />
