@model EM.Models.EmployeeResignationMetadata

<div class="container-fluid mt-3">
    @if (Model != null)
    {
        using (Html.BeginForm("Resignation", "EmployeeV1", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h1>Resignation Request</h1>
            <p class="text-danger">Fill this section only when you received offer and willing to put resignation</p>

            @Html.HiddenFor(model => model.Id)

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-floating">
                <div class="col-12">
                    @Html.LabelFor(model => model.CompanyOffers, new { @for = "CompanyOffers" })
                    <div>
                        @Html.TextAreaFor(model => model.CompanyOffers, 10, 100, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CompanyOffers, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />

            <div class="form-floating">
                @*@Html.EditorFor(model => model.ResignationDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })*@
                <input type="date" name="ResignationDate" required class="form-control" value='@Model.ResignationDate.Value.ToString("yyyy-MM-dd")' />
                @Html.ValidationMessageFor(model => model.ResignationDate, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.ResignationDate, new { @for = "ResignationDate" })
            </div>
            <br />

            <div class="form-floating">
                @*@Html.EditorFor(model => model.LastWorkingDay, new { htmlAttributes = new { @class = "form-control", type = "date" } })*@
                <input type="date" name="LastWorkingDay" required class="form-control" value='@Model.LastWorkingDay.Value.ToString("yyyy-MM-dd")' />
                @Html.ValidationMessageFor(model => model.LastWorkingDay, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.LastWorkingDay, new { @for = "LastWorkingDay" })
            </div>
            <br />

            <div class="form-floating">
                <input type="submit" value="Notify Resignation Request" class="btn btn-primary float-end" />
            </div>
            <br />
        }
    }
    else
    {
        using (Html.BeginForm("Resignation", "EmployeeV1", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h1>Interviews Information</h1>
            <p>Fill all your attended interviews details along with asked questions</p>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-floating">
                <textarea id="CompanyOffers" name="CompanyOffers" class="form-control" style="width:100%;"></textarea>
                @Html.ValidationMessageFor(model => model.CompanyOffers, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.CompanyOffers, new { @for = "CompanyOffers" })
            </div>
            <br />

            <div class="form-floating">
                @Html.EditorFor(model => model.ResignationDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.ResignationDate, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.ResignationDate, new { @for = "ResignationDate" })
            </div>
            <br />

            <div class="form-floating">
                @Html.EditorFor(model => model.LastWorkingDay, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.LastWorkingDay, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.LastWorkingDay, new { @for = "LastWorkingDay" })
            </div>
            <br />

            <div class="form-floating">
                <input type="submit" value="Notify Resignation Request" class="btn btn-primary float-end" />
            </div>
            <br />
        }
    }
</div>
